@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  width: max-content;
  height: max-content;
}

.smoff {
  height: 0px;
}

.smon {
  height: auto;
  padding: 10px;
}
.services-modal {
  width: auto;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.p {
  background-image: url("/public/pulidos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.g {
  background-image: url("/public/golpes-parabrisas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.w {
  background-image: url("/public/wrapping.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pd {
  background-image: url("/public/pdr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pf {
  background-image: url("/public/pdf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pl {
  background-image: url("/public/polarizado.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.azucar1:hover + .azucar2 {
  transform: translate(0px, -50px);
}

.logo-img {
  background-image: url("/public/logo-gray-red.png");
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/public/carro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar-h {
  height: calc(100dvh - 64px);
  width: 100vw;
  transition: all 200ms ease-in-out;
}

.nboff {
  right: 500px;
}
.nbon {
  right: 0px;
}

.h-d {
  height: 100dvh;
}

.layout-page {
  height: calc(100dvh - 115px);
}
.layout-service {
  height: calc(90dvh - 115px);
}
.layout {
  width: 100vw;
  height: 100dvh;
}
.imga {
  width: 100%;
  height: 220px;
}

.cap-page-animation-true {
  transition: all 200ms !important;
  border-width: 2px;
  padding: 25px;
  height: 83.333333%;
  width: 83.333333%;
}
.cap-page-animation-false {
  transition: all 0ms ease-in !important;
  width: 0;
  height: 0;
}
.scb::-webkit-scrollbar {
  width: 0;
}
.sd {
  box-shadow: 0px 0px 150px 700px rgba(0, 0, 0, 0.75);
}

.on {
  left: 0;
}
.off {
  left: -5000px;
}
.onsd {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}
.offsd {
  position: absolute;
  visibility: hidden;
}
.nav-bar-shadow {
  width: 100vw;
  height: 100dvh;
}
.nav-bar {
  position: absolute;
  transition: all 200ms ease-out;
}
.h {
  height: calc(100dvh - 48px);
}
.sha {
  box-shadow: 50px 0px 180px 76px rgba(0, 0, 0, 0.57);
}

.borde {
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}

.borde-t {
  border-top: 1px solid rgba(0, 0, 0, 0.596);
}

.mapouter {
  position: relative;
  text-align: right;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

@media (max-width: 768px) {
  .layout-page {
    height: auto;
  }
}
